.navbar {
  position: absolute;
  width: 90%;
  width: -webkit-fill-available;
  top: 1rem;
}

#hamburger-links {
  display: none;
}

/* Hero */
.hero {
  background-image: url('../imgs/heroImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.dropshadow {
  filter: drop-shadow(0 0 0.75rem #000);
}

/* Back to top button */
.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 40px;
  height: 40px;
  z-index: 1;
  text-align: center;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
}

.back-to-top svg {
  fill: #F85E00;
  padding-top: 10px;
}

/* Info Block */
.info-block {
  width: 90%;
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto -50px;
  background-color: #FFF;
}

.move-up {
  margin-bottom: -50px;
}

.map-bg {
  background-image: url('../imgs/mapBG.jpg');
  background-size: cover;
}

.signup-input {
  width: 350px;
  padding: 10px;
  border: 1px solid #D3D3D3;
  background-color: #F5F5F5;
}

.signup-btn {
  height: 38px;
  border: 0;
  padding: 0 30px;
}

.bg-img {
  background-image: url('../imgs/repairsBG.jpg');
  background-size: cover;
}

/* Events Calendar */
.table td {
  vertical-align: middle;
}

/* Sales section */
.half-bg {
  background-image: url('../imgs/halfBG.jpg');
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

/* Footer */
footer svg:hover {
  /* fill: #FFF; */
  transition-property: transform;
  transition-duration: 0.21s;
  transform: scale(1.25);
}

/* Responsive */
/* Responsive Hero */
@media (max-width: 768px) {
  header div {
    margin: 40px 0;
  }
}
